/**
 * Twenty Seventeen integration styles
 */
.entry-content .madx-madx-builder .product_meta > span {
  display: block;
}

.entry-content .madx-madx-builder a:hover {
  box-shadow: none;
}

.entry-content .madx-madx-builder .woocommerce-tabs li {
  margin: 0;
}

.entry-content .madx-madx-builder .tabs > li.active a {
  box-shadow: none;
}

.entry-content .madx-madx-builder .tabs > li a {
  width: 100%;
  display: block;
}

.entry-content .madx-madx-builder .woocommerce-variation-price .price {
  display: block;
}
