.jet-listing-dynamic-terms {
	&__icon {
		display: inline-block;
	}
	&__link {
		display: inline-block;
	}
	&__delimiter {
		display: inline-block;
	}
	&__prefix {
		display: inline-block;
	}
	&__suffix {
		display: inline-block;
	}
}