/*! madxartwork - v2.7.6 - 08-12-2019 */
/*! madxartwork - v2.7.5 - 05-12-2019 */
body {
  color: #E0E1E3; }
  body .pcr-app {
    background-color: #4C4F56;
    -webkit-box-shadow: 0 0.15em 1.5em 0 rgba(0, 0, 0, 0.5), 0 0 1em 0 rgba(0, 0, 0, 0.05);
            box-shadow: 0 0.15em 1.5em 0 rgba(0, 0, 0, 0.5), 0 0 1em 0 rgba(0, 0, 0, 0.05); }
    body .pcr-app .pcr-swatches > button:after {
      -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
              box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); }
    body .pcr-app .pcr-clear {
      color: #E0E1E3;
      background-color: #64666A; }
    body .pcr-app .pcr-interaction .pcr-result {
      color: #E0E1E3;
      border-color: #64666A; }
      body .pcr-app .pcr-interaction .pcr-result:focus {
        border-color: #7D7E82; }
  body .pcr-swatch.pcr-active:after {
    -webkit-box-shadow: 0 0 0 1px #71d7f7, inset 0 0 0 1px #4C4F56;
            box-shadow: 0 0 0 1px #71d7f7, inset 0 0 0 1px #4C4F56; }
  body .pcr-swatch.pcr-active ~ .madxartwork-color-picker__add-swatch {
    background-color: #64666A; }
    body .pcr-swatch.pcr-active ~ .madxartwork-color-picker__add-swatch i {
      color: #E0E1E3; }

#madxartwork-loading {
  background-color: #34383C; }

.madxartwork-loader {
  background-color: #4C4F56; }

.madxartwork-safe-mode-toast {
  background-color: #4C4F56; }
  .madxartwork-safe-mode-toast header h2,
  .madxartwork-safe-mode-toast .madxartwork-toast-content {
    color: #E0E1E3; }

input, select, textarea, .madxartwork-input-style {
  color: #E0E1E3;
  background-color: #34383C; }
  input:not(:focus), select:not(:focus), textarea:not(:focus), .madxartwork-input-style:not(:focus) {
    border-color: #64666A; }
  input:focus, select:focus, textarea:focus, .madxartwork-input-style:focus {
    border-color: #7D7E82; }
  input[disabled], select[disabled], textarea[disabled], .madxartwork-input-style[disabled] {
    background-color: #4C4F56; }

select {
  background-color: #34383C; }

.madxartwork-button.madxartwork-button-default {
  background-color: #64666A; }
  .madxartwork-button.madxartwork-button-default:hover {
    background-color: #4C4F56; }

.madxartwork-button.madxartwork-button-success[disabled] {
  background-color: #64666A; }

.madxartwork-button.madxartwork-button-danger {
  background-color: #F84343; }

#madxartwork-mode-switcher {
  background-color: #34383C; }
  #madxartwork-mode-switcher:hover {
    background-color: #71D7F7; }

.madxartwork-tags-list {
  background-color: #4C4F56;
  border-color: #64666A; }
  .madxartwork-tags-list__group-title {
    color: #B4B5B7; }
  .madxartwork-tags-list__item:hover {
    background-color: #404349; }

.madxartwork-tag-settings-popup {
  background-color: #34383C;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8); }
  .madxartwork-tag-settings-popup:before {
    border-bottom-color: #404349; }

.madxartwork-panel {
  background-color: #34383C; }
  .madxartwork-panel a {
    color: #71D7F7; }
  .madxartwork-panel #madxartwork-panel-header {
    background-color: #26292C; }
  .madxartwork-panel .madxartwork-panel-navigation {
    background-color: #404349; }
    .madxartwork-panel .madxartwork-panel-navigation .madxartwork-panel-navigation-tab.madxartwork-active {
      background-image: -webkit-gradient(linear, left top, left bottom, from(#34383C), to(#4C4F56));
      background-image: -webkit-linear-gradient(top, #34383C, #4C4F56);
      background-image: -o-linear-gradient(top, #34383C, #4C4F56);
      background-image: linear-gradient(to bottom, #34383C, #4C4F56);
      border-bottom-color: #71D7F7; }
    .madxartwork-panel .madxartwork-panel-navigation .madxartwork-panel-navigation-tab a {
      color: #E0E1E3; }
  .madxartwork-panel #madxartwork-panel-elements-search-input {
    background-color: #4C4F56;
    color: #E0E1E3; }
    .madxartwork-panel #madxartwork-panel-elements-search-input:focus {
      background-color: #404349;
      color: #E0E1E3; }
      .madxartwork-panel #madxartwork-panel-elements-search-input:focus + i {
        color: #E0E1E3; }
  .madxartwork-panel .madxartwork-element {
    background-color: #404349; }
    .madxartwork-panel .madxartwork-element .title,
    .madxartwork-panel .madxartwork-element .icon {
      color: #E0E1E3; }
    .madxartwork-panel .madxartwork-element:hover .title,
    .madxartwork-panel .madxartwork-element:hover .icon {
      color: #71D7F7; }
  .madxartwork-panel #madxartwork-panel-footer {
    background-color: #26292C; }
  .madxartwork-panel .madxartwork-panel-footer-sub-menu-wrapper {
    background-color: #34383C;
    border-top: 1px solid #4C4F56; }
  .madxartwork-panel .madxartwork-panel-footer-sub-menu-item {
    background-color: #404349; }
    .madxartwork-panel .madxartwork-panel-footer-sub-menu-item:hover, .madxartwork-panel .madxartwork-panel-footer-sub-menu-item.active {
      background-color: #4C4F56; }
  .madxartwork-panel #madxartwork-panel-footer-saver-options {
    border-color: #26292C; }
  .madxartwork-panel .madxartwork-controls-popover {
    background-color: #4C4F56;
    -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
            box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5); }
    .madxartwork-panel .madxartwork-controls-popover:before {
      border-bottom-color: #4C4F56; }
    .madxartwork-panel .madxartwork-controls-popover .madxartwork-control-responsive-switchers__holder {
      background-color: #4C4F56; }
  .madxartwork-panel .madxartwork-panel-alert {
    background-color: #4C4F56; }
    .madxartwork-panel .madxartwork-panel-alert.madxartwork-panel-alert-info {
      background-color: #4C4F56; }
  .madxartwork-panel #madxartwork-panel__editor__help__link {
    color: #B4B5B7; }
    .madxartwork-panel #madxartwork-panel__editor__help__link:hover {
      color: #E0E1E3; }
  .madxartwork-panel #madxartwork-panel-global-widget > * {
    background-color: #404349; }
  .madxartwork-panel #madxartwork-global-widget-locked-unlink {
    border-top-color: #34383C; }
  .madxartwork-panel .madxartwork-panel-scheme-color-system-items {
    background-color: #34383C;
    border-color: #64666A; }
  .madxartwork-panel .madxartwork-panel-menu-item:not(.madxartwork-panel-menu-item-exit-to-dashboard) {
    background-color: #404349; }
    .madxartwork-panel .madxartwork-panel-menu-item:not(.madxartwork-panel-menu-item-exit-to-dashboard):hover {
      background-color: #4C4F56; }
    .madxartwork-panel .madxartwork-panel-menu-item:not(.madxartwork-panel-menu-item-exit-to-dashboard) a {
      color: #E0E1E3; }
  .madxartwork-panel .madxartwork-panel-menu-item-icon {
    color: #B4B5B7; }

.madxartwork-control {
  background-color: #404349; }
  .madxartwork-control.madxartwork-control-separator-before:before, .madxartwork-control.madxartwork-control-separator-after:after {
    background-color: #34383C; }
  .madxartwork-control.madxartwork-control-type-divider .madxartwork-control-content {
    background-color: #404349;
    border-color: #34383C; }

.madxartwork-control-responsive-switchers__holder {
  background-color: #404349; }

.madxartwork-control-responsive-switchers.madxartwork-responsive-switchers-open .madxartwork-control-responsive-switchers__holder {
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.5); }

a.madxartwork-responsive-switcher {
  color: #E0E1E3; }
  a.madxartwork-responsive-switcher:hover {
    color: #71D7F7; }

.madxartwork-device-desktop .madxartwork-responsive-switchers-open:not(:hover) .madxartwork-responsive-switcher.madxartwork-responsive-switcher-desktop {
  color: #71D7F7; }

.madxartwork-device-tablet .madxartwork-responsive-switchers-open:not(:hover) .madxartwork-responsive-switcher.madxartwork-responsive-switcher-tablet {
  color: #71D7F7; }

.madxartwork-device-mobile .madxartwork-responsive-switchers-open:not(:hover) .madxartwork-responsive-switcher.madxartwork-responsive-switcher-mobile {
  color: #71D7F7; }

.madxartwork-control-type-popover_toggle .madxartwork-control-popover-toggle-toggle-label {
  background-color: #34383C;
  border-color: #64666A; }

.madxartwork-control-type-popover_toggle .madxartwork-control-responsive-switchers__holder {
  background-color: #4C4F56; }

.madxartwork-control-media-upload-button {
  background-color: #34383C; }

.madxartwork-control-media__remove {
  background-color: #64666A;
  color: #B4B5B7; }

.madxartwork-control-media .madxartwork-control-input-wrapper {
  border-color: #64666A; }

.madxartwork-control-media .eicon-plus-circle {
  color: #E0E1E3; }

.madxartwork-control-media .madxartwork-control-media__tool {
  background-color: #7D7E82; }

.madxartwork-control-media-area, .pcr-app[data-theme=monolith] .pcr-color-palette, .pcr-button {
  background-image: -webkit-linear-gradient(45deg, #34383C 25%, transparent 25%, transparent 75%, #34383C 75%, #34383C), -webkit-linear-gradient(45deg, #34383C 25%, transparent 25%, transparent 75%, #34383C 75%, #34383C);
  background-image: -o-linear-gradient(45deg, #34383C 25%, transparent 25%, transparent 75%, #34383C 75%, #34383C), -o-linear-gradient(45deg, #34383C 25%, transparent 25%, transparent 75%, #34383C 75%, #34383C);
  background-image: linear-gradient(45deg, #34383C 25%, transparent 25%, transparent 75%, #34383C 75%, #34383C), linear-gradient(45deg, #34383C 25%, transparent 25%, transparent 75%, #34383C 75%, #34383C);
  background-color: #64666A; }

.madxartwork-control-type-icons .madxartwork-control-media__preview i {
  color: #B4B5B7; }

.madxartwork-control-type-gallery .madxartwork-control-gallery-clear:hover {
  color: #F84343; }

.madxartwork-control-type-gallery .madxartwork-control-gallery-add {
  background-color: #34383C; }
  .madxartwork-control-type-gallery .madxartwork-control-gallery-add:hover {
    background-color: #4C4F56; }

.madxartwork-control-type-gallery .madxartwork-control-gallery-status,
.madxartwork-control-type-gallery .madxartwork-control-media__content {
  border-color: #64666A; }

.madxartwork-control-type-url .madxartwork-control-url-more {
  border-left-color: #64666A; }

.madxartwork-control-type-wysiwyg .wp-editor-container {
  border-color: #64666A; }

.madxartwork-control-type-wysiwyg .mce-menubtn button,
.madxartwork-control-type-wysiwyg .mce-ico,
.madxartwork-control-type-wysiwyg .wp-switch-editor {
  color: #E0E1E3; }

.madxartwork-control-type-wysiwyg #insert-media-button,
.madxartwork-control-type-wysiwyg .html-active .switch-html,
.madxartwork-control-type-wysiwyg .mce-toolbar-grp,
.madxartwork-control-type-wysiwyg .quicktags-toolbar,
.madxartwork-control-type-wysiwyg .tmce-active .switch-tmce {
  background-color: #64666A; }

.madxartwork-control-type-wysiwyg #insert-media-button {
  color: #E0E1E3;
  border-color: #7D7E82; }

.madxartwork-control-type-wysiwyg .mce-toolbar .mce-btn-group .mce-btn.mce-active,
.madxartwork-control-type-wysiwyg .mce-toolbar .mce-btn-group .mce-btn:active,
.madxartwork-control-type-wysiwyg .qt-dfw.active,
.madxartwork-control-type-wysiwyg .mce-toolbar .mce-btn-group .mce-btn:hover,
.madxartwork-control-type-wysiwyg .mce-toolbar .mce-btn-group .mce-btn:focus,
.madxartwork-control-type-wysiwyg .qt-dfw:hover,
.madxartwork-control-type-wysiwyg .qt-dfw:focus {
  background-color: #404349;
  -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.08), 0 1px 0 rgba(0, 0, 0, 0.08);
          box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.08), 0 1px 0 rgba(0, 0, 0, 0.08); }

.madxartwork-control-type-wysiwyg .mce-toolbar .mce-btn-group .mce-btn.mce-listbox {
  background-color: transparent; }

.madxartwork-control-type-wysiwyg .quicktags-toolbar {
  border-color: #7D7E82; }

.madxartwork-control-type-wysiwyg .wp-core-ui .button,
.madxartwork-control-type-wysiwyg .wp-core-ui .button-secondary {
  background-color: #4C4F56;
  color: #E0E1E3;
  border-color: #7D7E82; }
  .madxartwork-control-type-wysiwyg .wp-core-ui .button:hover,
  .madxartwork-control-type-wysiwyg .wp-core-ui .button-secondary:hover {
    background-color: #404349;
    border-color: #7D7E82; }

.madxartwork-choices .madxartwork-choices-label, .madxartwork-choices .madxartwork-choices-label:last-child {
  background-color: #34383C;
  border-color: #64666A; }

.madxartwork-choices input:checked + .madxartwork-choices-label {
  background-color: #7D7E82;
  border-color: #7D7E82; }

.madxartwork-control-type-repeater .madxartwork-repeater-row-tools {
  background-color: #64666A;
  color: #E0E1E3; }
  .madxartwork-control-type-repeater .madxartwork-repeater-row-tools:hover {
    background-color: #7D7E82; }
  .madxartwork-control-type-repeater .madxartwork-repeater-row-tools > div:not(.madxartwork-repeater-row-handle-sortable) {
    background-color: #4C4F56; }
    .madxartwork-control-type-repeater .madxartwork-repeater-row-tools > div:not(.madxartwork-repeater-row-handle-sortable):hover {
      background-color: #52555d; }

.madxartwork-control-type-repeater .madxartwork-repeater-row-controls {
  border-color: #64666A; }

.madxartwork-control-type-tab {
  background-color: #34383C;
  border-color: #64666A; }
  .madxartwork-control-type-tab.madxartwork-tab-active {
    background-color: #7D7E82;
    border-color: #7D7E82; }

.madxartwork-control-type-slider--handles-range .madxartwork-slider .noUi-handle:after {
  background-color: #E0E1E3; }

.madxartwork-slider {
  background-color: #64666A; }
  .madxartwork-slider .noUi-handle {
    background-color: #E0E1E3; }

.madxartwork-control-type-dimensions li input,
.madxartwork-control-type-dimensions li .madxartwork-link-dimensions {
  border-color: #64666A; }

.madxartwork-control-type-dimensions li input:focus {
  border-color: #7D7E82; }

.madxartwork-control-type-dimensions li:first-child input {
  border-color: #64666A; }
  .madxartwork-control-type-dimensions li:first-child input:focus {
    border-color: #7D7E82; }

.madxartwork-control-type-dimensions .madxartwork-link-dimensions.unlinked {
  background-color: #34383C;
  color: #E0E1E3; }

.madxartwork-control-type-dimensions .madxartwork-link-dimensions:not(.unlinked) {
  background-color: #7D7E82;
  border-color: #7D7E82; }

.madxartwork-control-type-switcher .madxartwork-switch-label {
  background-color: #34383C; }
  .madxartwork-control-type-switcher .madxartwork-switch-label:before {
    text-shadow: 0 1px rgba(0, 0, 0, 0.8); }

.madxartwork-control-type-switcher .madxartwork-switch-input:checked ~ .madxartwork-switch-label {
  background-color: #71D7F7; }

.madxartwork-control-type-switcher .madxartwork-switch-handle {
  background-color: #E0E1E3; }

.pickr {
  background-color: #34383C;
  border-color: #4C4F56; }

.madxartwork-color-picker__dropping-area {
  border: 1px dashed #7D7E82;
  color: #B4B5B7; }
  .madxartwork-color-picker__dropping-area.madxartwork-active {
    border-color: #B4B5B7; }
    .madxartwork-color-picker__dropping-area.madxartwork-active i {
      color: #F84343; }

.madxartwork-control-type-structure .madxartwork-control-structure-preset path {
  fill: #34383C; }

.madxartwork-control-type-structure .madxartwork-control-structure-presets input:checked + .madxartwork-control-structure-preset path {
  fill: #64666A; }

.madxartwork-control-type-structure .madxartwork-control-structure-reset {
  border-top-color: #34383C; }

.madxartwork-panel-heading {
  border-bottom-color: #34383C; }
  .madxartwork-panel-heading-toggle, .madxartwork-panel-heading-title {
    color: #E0E1E3; }

.select2-container:not(.select2-container--open):not(.select2-container--focus) .select2-selection--single,
.select2-container:not(.select2-container--open):not(.select2-container--focus) .select2-selection--multiple {
  background-color: #34383C;
  color: #E0E1E3;
  border-color: #64666A; }

.select2-container.select2-container--open .select2-selection--single,
.select2-container.select2-container--open .select2-selection--multiple, .select2-container.select2-container--focus .select2-selection--single,
.select2-container.select2-container--focus .select2-selection--multiple {
  border-color: #7D7E82; }

.select2-container.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #E0E1E3; }

.select2-container--default .select2-selection--single {
  background-color: #34383C;
  border-color: #4C4F56; }

.select2-container--default .select2-selection--multiple {
  background-color: #34383C; }
  .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #4C4F56;
    border-color: #4C4F56; }

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #4C4F56;
  color: #E0E1E3; }

.select2-results__option[aria-selected=true] {
  color: #E0E1E3; }

.select2-dropdown {
  background-color: #34383C;
  border-color: #7D7E82; }

.dialog-type-lightbox {
  background-color: rgba(0, 0, 0, 0.65); }
  .dialog-type-lightbox .dialog-header {
    color: #E0E1E3; }
  .dialog-type-lightbox .dialog-widget-content {
    background-color: #34383C; }
  .dialog-type-lightbox .dialog-buttons-wrapper > .dialog-button {
    color: #E0E1E3; }
    .dialog-type-lightbox .dialog-buttons-wrapper > .dialog-button.dialog-ok {
      color: #F84343; }
    .dialog-type-lightbox .dialog-buttons-wrapper > .dialog-button:hover {
      background-color: #4C4F56; }
  .dialog-type-lightbox .dialog-buttons-wrapper,
  .dialog-type-lightbox .dialog-button:first-child {
    border-color: #4C4F56; }
  .dialog-type-lightbox .madxartwork-publish__tab__title {
    color: #E0E1E3; }
  .dialog-type-lightbox .madxartwork-publish__tab.madxartwork-active {
    background-color: #404349; }
  .dialog-type-lightbox .madxartwork-popup__display-settings_controls_group {
    background-color: #404349; }
    .dialog-type-lightbox .madxartwork-popup__display-settings_controls_group__icon {
      border-color: #34383C; }

.madxartwork-templates-modal .dialog-header {
  background-color: #26292C;
  color: #E0E1E3;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.3); }

.madxartwork-templates-modal__header__close--normal {
  border-color: #7D7E82; }

.madxartwork-templates-modal__sidebar {
  background-color: transparent; }

.madxartwork-templates-modal__content {
  -webkit-box-shadow: 0 0 13px inset rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 13px inset rgba(0, 0, 0, 0.08); }

.madxartwork-templates-modal .dialog-buttons-wrapper {
  background-color: #34383C; }

#madxartwork-template-library-header-menu {
  color: #E0E1E3; }

.madxartwork-template-library-menu-item.madxartwork-active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#26292C), to(#4C4F56));
  background-image: -webkit-linear-gradient(top, #26292C, #4C4F56);
  background-image: -o-linear-gradient(top, #26292C, #4C4F56);
  background-image: linear-gradient(to bottom, #26292C, #4C4F56);
  border-color: #71D7F7; }

#madxartwork-template-library-filter {
  border-color: #34383C; }
  #madxartwork-template-library-filter-text {
    background-color: transparent; }
    #madxartwork-template-library-filter-text:focus + i {
      color: #E0E1E3; }

label.madxartwork-template-library-order-label:hover,
#madxartwork-template-library-filter-my-favorites:hover {
  color: #B4B5B7; }

#madxartwork-template-library-templates[data-template-source="remote"] .madxartwork-template-library-order-input:checked + .madxartwork-template-library-order-label {
  color: #7D7E82; }

#madxartwork-template-library-filter-my-favorites:checked + #madxartwork-template-library-filter-my-favorites-label {
  color: #7D7E82; }

#madxartwork-template-library-header-preview-back {
  border-color: #4C4F56; }

.madxartwork-template-library-template-remote {
  background-color: #404349; }
  .madxartwork-template-library-template-remote .madxartwork-template-library-template-name {
    color: #E0E1E3; }
  .madxartwork-template-library-template-remote:not(.madxartwork-template-library-template-page) .madxartwork-template-library-template-footer {
    background-color: #404349; }

.madxartwork-template-library-template-local {
  background-color: #4C4F56; }
  .madxartwork-template-library-template-local:hover {
    background-color: #64666A; }
  .madxartwork-template-library-template-local .madxartwork-template-library-template-controls > div:not(:hover),
  .madxartwork-template-library-template-local .madxartwork-template-library-template-controls > div a {
    color: #B4B5B7; }
  .madxartwork-template-library-template-local .madxartwork-template-library-template-more {
    background-color: #4C4F56; }
    .madxartwork-template-library-template-local .madxartwork-template-library-template-more:before {
      border-bottom-color: #4C4F56; }
    .madxartwork-template-library-template-local .madxartwork-template-library-template-more:hover,
    .madxartwork-template-library-template-local .madxartwork-template-library-template-more a:hover {
      color: #E0E1E3; }
    .madxartwork-template-library-template-local .madxartwork-template-library-template-more .madxartwork-template-library-template-delete:hover {
      color: #F84343; }

#madxartwork-template-library-save-template-name {
  background-color: #26292C; }

#madxartwork-template-library-import-form {
  background-color: transparent; }
  #madxartwork-template-library-import-form:hover {
    background-color: rgba(0, 0, 0, 0.3); }

#madxartwork-publish #madxartwork-theme-builder-conditions select,
#madxartwork-publish #madxartwork-theme-builder-conditions input {
  background-color: #4C4F56;
  color: #E0E1E3; }

#madxartwork-publish #madxartwork-theme-builder-conditions .madxartwork-control-type[data-madxartwork-condition-type="include"],
#madxartwork-publish #madxartwork-theme-builder-conditions .madxartwork-control-type[data-madxartwork-condition-type="exclude"] {
  background-color: #64666A; }
  #madxartwork-publish #madxartwork-theme-builder-conditions .madxartwork-control-type[data-madxartwork-condition-type="include"] select,
  #madxartwork-publish #madxartwork-theme-builder-conditions .madxartwork-control-type[data-madxartwork-condition-type="include"] option,
  #madxartwork-publish #madxartwork-theme-builder-conditions .madxartwork-control-type[data-madxartwork-condition-type="exclude"] select,
  #madxartwork-publish #madxartwork-theme-builder-conditions .madxartwork-control-type[data-madxartwork-condition-type="exclude"] option {
    background-color: #404349;
    color: #E0E1E3; }

#madxartwork-publish #madxartwork-theme-builder-conditions .madxartwork-theme-builder-conditions-repeater-row-controls .select2-dropdown,
#madxartwork-publish #madxartwork-theme-builder-conditions .madxartwork-theme-builder-conditions-repeater-row-controls .select2-container--default .select2-selection--single {
  background-color: #4C4F56; }

#madxartwork-icons-manager__search input {
  background-color: #404349;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  #madxartwork-icons-manager__search input:focus {
    background-color: #4C4F56; }

.madxartwork-icons-manager__tab__item {
  background-color: #404349; }
  .madxartwork-icons-manager__tab__item__icon, .madxartwork-icons-manager__tab__item__name {
    color: #E0E1E3; }

.madxartwork-icons-manager__tab-link {
  color: #E0E1E3; }
  .madxartwork-icons-manager__tab-link.madxartwork-active {
    background-color: #404349; }

.madxartwork-context-menu {
  background-color: #404349;
  border-color: #34383C; }
  .madxartwork-context-menu .madxartwork-context-menu-list__group:not(:last-child) {
    border-color: #34383C; }

.madxartwork-context-menu-list__item:not(.madxartwork-context-menu-list__item--disabled):hover {
  background-color: #4C4F56; }

.madxartwork-context-menu-list__item.madxartwork-context-menu-list__item-delete:not(.madxartwork-context-menu-list__item--disabled):hover {
  background-color: #F84343; }

#madxartwork-navigator {
  background-color: #34383C; }
  #madxartwork-navigator__header, #madxartwork-navigator__inner, #madxartwork-navigator__footer {
    background-color: #34383C; }
  #madxartwork-navigator__header, #madxartwork-navigator__footer {
    border-color: #4C4F56; }
  #madxartwork-navigator__header #madxartwork-navigator__close,
  #madxartwork-navigator__header #madxartwork-navigator__toggle-all {
    color: #B4B5B7; }

.madxartwork-navigator__element-section {
  background-color: transparent; }

.madxartwork-navigator__item {
  background-color: #404349;
  border-color: #34383C; }
  .madxartwork-navigator__item:hover {
    background-color: #4c4f57; }

.madxartwork-navigator__element__indicator {
  color: #E0E1E3;
  background-color: #4C4F56; }
  .madxartwork-navigator__element__indicator:hover {
    color: #B4B5B7; }
  .madxartwork-navigator__element__indicator:not(:first-child) {
    border-color: #34383C; }

.madxartwork-navigator__element-column {
  background-color: #474a51; }

.madxartwork-navigator__element:not(.madxartwork-navigator__element--hidden) > .madxartwork-navigator__item.madxartwork-editing {
  background-color: #4c4f57; }
  .madxartwork-navigator__element:not(.madxartwork-navigator__element--hidden) > .madxartwork-navigator__item.madxartwork-editing .madxartwork-navigator__element__toggle {
    color: #71D7F7; }

.madxartwork-navigator__elements .madxartwork-empty-view {
  border-color: #34383C; }

.madxartwork-navigator__elements .ui-sortable-helper {
  background-color: #34383C;
  border-color: #34383C; }

.madxartwork-navigator__elements .ui-sortable-placeholder {
  background-color: #34383C; }

#madxartwork-panel-history:not(.madxartwork-empty),
.madxartwork-panel .madxartwork-panel-box,
.madxartwork-panel .madxartwork-panel-scheme-buttons {
  background-color: #404349; }

.madxartwork-revision-item__wrapper,
.madxartwork-history-item {
  background-color: #4C4F56;
  border-color: #4C4F56; }
  .madxartwork-revision-item__wrapper:hover,
  .madxartwork-history-item:hover {
    background-color: #64666A; }

#madxartwork-finder__search__input {
  color: #E0E1E3; }

.madxartwork-finder__results__category__title {
  background-color: #26292C;
  color: #E0E1E3; }

.madxartwork-finder__results__item__title {
  color: #E0E1E3; }

.madxartwork-finder__results__item.madxartwork-active {
  background-color: #404349; }

.madxartwork-hotkeys__list {
  background-color: #4C4F56; }

.madxartwork-hotkeys__item {
  border-color: #64666A; }
  .madxartwork-hotkeys__item--shortcut span {
    background-color: #64666A; }

.media-modal {
  color: #6d7882; }

#wp-link {
  color: #6d7882; }
  #wp-link input,
  #wp-link select,
  #wp-link textarea,
  #wp-link .madxartwork-input-style {
    color: #6d7882;
    background-color: transparent; }
    #wp-link input:not(:focus),
    #wp-link select:not(:focus),
    #wp-link textarea:not(:focus),
    #wp-link .madxartwork-input-style:not(:focus) {
      border-color: #d5dadf; }
    #wp-link input:focus,
    #wp-link select:focus,
    #wp-link textarea:focus,
    #wp-link .madxartwork-input-style:focus {
      border-color: #a4afb7; }

.ui-autocomplete {
  color: #6d7882; }

.madxartwork-color-picker__swatch-tool {
  background-color: #E0E1E3; }
  .madxartwork-color-picker__swatch-tool i {
    color: #64666A; }
/*# sourceMappingURL=editor-dark-mode.css.map */