

/*----------------------*/
/* 22. Post Block
/*----------------------*/
.eael-post-block-grid {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	max-width: 1170px;
	margin: 0 auto;
	flex-flow: row wrap;
	justify-content: center;
	align-content: flex-start;
}

.eael-post-block-item {
	overflow: hidden;
	margin: 10px;
	background-color: #ffffff;
	box-shadow: 0px 0px 10px 0px rgba(110, 123, 140, 0.3);
	flex: 1 1 30%;
}

.eael-post-block-item-holder {
	height: 100%;
	width: 100%;
}

.eael-post-block-item-holder-inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-flow: column wrap;
	height: 100%;
}

.eael-post-block-item .eael-entry-thumbnail {
	background-color: #f0f0f0;
	position: relative;
	height: 160px;
	flex: auto;
}

.eael-post-block-item .eael-entry-thumbnail img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
		object-fit: cover;
}

.eael-post-block .eael-entry-wrapper {
	padding: 15px;
}

.eael-post-block .eael-entry-title {
	font-size: 1em;
	margin: 5px 0 0;
}

.eael-post-block .eael-entry-header .eael-entry-meta .eael-posted-by {
	display: inline-block;
}

.eael-post-block .eael-entry-meta {
	line-height: 1;
}

.eael-entry-meta > span {
	font-size: 12px;
	line-height: 1.2;
	padding-bottom: 5px;
}

.eael-post-block .eael-entry-header .eael-entry-meta span.eael-posted-on {
	padding-left: 5px;
}

.eael-post-block .eael-entry-header .eael-entry-meta span.eael-posted-on::before {
	content: '\f111';
	font-family: FontAwesome;
	color: inherit;
	opacity: .4;
	font-size: .8em;
	padding-right: 7px;
}

.eael-post-block .eael-entry-footer .eael-entry-meta {
	padding-left: 8px;
}

.eael-post-block .eael-entry-footer {
	padding: 0 15px 15px
}

.post-block-style-overlay.eael-post-block .eael-entry-footer {
	padding: 10px 15px 15px 0;
}

@media only screen and (min-width: 768px) {
	.eael-post-block-grid .eael-post-block-item:nth-child(1),
	.eael-post-block-grid .eael-post-block-item:nth-child(2) {
		flex: 1 1 40%;
	}

	.eael-post-block-grid .eael-post-block-item:nth-child(6),
	.eael-post-block-grid .eael-post-block-item:nth-child(7),
	.eael-post-block-grid .eael-post-block-item:nth-child(14),
	.eael-post-block-grid .eael-post-block-item:nth-child(15),
	.eael-post-block-grid .eael-post-block-item:nth-child(22),
	.eael-post-block-grid .eael-post-block-item:nth-child(23) {
		flex: 1 1 40%;
	}
}

@media only screen and (max-width: 480px) {
	.eael-post-block-item {
		width: 100%;
		flex: 1 100%;
	}
}

.eael-entry-media:hover .eael-entry-overlay.zoom-in {
    transform: scale(1);
    visibility: visible;
    opacity: 1;
}

.eael-entry-media:hover .eael-entry-overlay.fade-in {
    visibility: visible;
    opacity: 1;
}

.eael-entry-media:hover .eael-entry-overlay.slide-up {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
}

.eael-post-block-item-holder .eael-entry-media {
    overflow: hidden;
}

.eael-entry-overlay.none {
    background: none !important;
}

.eael-entry-overlay.none > i {
    display: none;
}
