/*------------------------------*/
/* 54. Post carousel
/*------------------------------*/
.eael-post-carousel.grayscale-normal img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.eael-post-carousel.grayscale-normal .swiper-slide:hover img {
	-webkit-filter: none;
	filter: none;
}

.eael-post-carousel.grayscale-hover .swiper-slide:hover img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.eael-post-carousel.swiper-container .swiper-slide {
	text-align: center;
}

.eael-post-carousel .eael-entry-thumbnail > img,
.swiper-container-wrap .eael-post-carousel .swiper-slide img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.eael-post-carousel .eael-post-carousel-title a {
	color: inherit;
}

.eael-author-avatar > a {
    display: block;
}

.eael-entry-footer {
	overflow: hidden;
	display: flex;
}

.eael-entry-footer > div {
    display: inline-block;
    float: left;
}

.post_carousel_meta_alignment-right .eael-entry-meta {
    text-align: center;
    align-items: flex-end;
    justify-content: flex-end;
}

.post_carousel_meta_alignment-center .eael-entry-meta {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.post_carousel_meta_alignment-right .eael-entry-footer > div {
    float: right;
}

.post_carousel_meta_alignment-right .eael-entry-footer .eael-entry-meta {
    text-align: right;
    padding-left: 0;
    padding-right: 15px;
}

.post_carousel_meta_alignment-center .eael-entry-footer > div {
	float: none;
	display: block;
}

.post_carousel_meta_alignment-center .eael-author-avatar {
	margin: 0 auto 15px;
}

/**
 * Protected content
 */
.eael-password-protected-content-fields > form {
	display: flex;
	align-items: center;
}
.eael-password-protected-content-fields .eael-password {
	padding: 10px 20px;
	border-radius: 0;
	font-size: 1em;
	line-height: 1em;
}
.eael-password-protected-content-fields .eael-submit {
	text-transform: uppercase;
	padding: 10px 20px;
	border: 1px solid #333;
	border-radius: 0;
	font-size: 1em;
	line-height: 1em;
}
.eael-protected-content-message {
	padding: 10px;
}
.protected-content-error-msg {
	color: #f00;
}